@model DataSystem.Models.Feedback

@{
    ViewData["Title"] = "new question";
}
<div class="container">
    <h2>new Question</h2>

    <form asp-action="Create">
        <div class="form-horizontal ">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nmrid" value="@ViewBag.Nmrid" />
            <div class="form-group">
                <label asp-for="Message" class="col-md-2 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger" />
                </div>
            </div>

            <br/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </div>
            <hr/>
    </form>

    <div>
    <div>
        <a asp-controller="Nmr" asp-action="reports" asp-route-nmrid="@ViewBag.Nmrid">Back </a>
    </div>
        </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
