@{
    ViewData["Title"] = "Levels";
}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h3>Levels</h3>

            <ejs-grid id="Grid" allowSorting="true" editSettings="@(new Syncfusion.EJ2.Grids.GridEditSettings { AllowAdding = ViewBag.gridAdd, AllowEditing = ViewBag.gridEdit, AllowDeleting = ViewBag.gridDelete,Mode=Syncfusion.EJ2.Grids.EditMode.Dialog })" toolbar="@(new List<string>() {"Add", "Edit", "Delete", "Cancel", "Update"})" allowPaging="true">
                <e-data-manager url="/whlevels/UrlDataSource" adaptor="UrlAdaptor" insertUrl="/whlevels/Insert" updateUrl="/whlevels/Update" removeUrl="/whlevels/Remove"></e-data-manager>
                <e-grid-columns>
                    <e-grid-column field="levelId" headerText="ID" isPrimaryKey="true" visible="false" textAlign="Left" width="80"></e-grid-column>
                    <e-grid-column field="levelDescriptoin" headerText="Level Descriptoin" validationRules="@(new { required=true})" textAlign="Left" width="300"></e-grid-column>

                </e-grid-columns>
            </ejs-grid>

        </div>
    </div>
</div>