@model DataSystem.Models.TlkpMn

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h2>Details</h2>

    <div>
        <h4>TlkpMn</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Mnitems)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Mnitems)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd>
                @if (Model.Active.Equals(true))
                {
                    <span class="label label-success">Yes</span>

                }
                else
                {
                    <span class="label label-danger">No</span>
                }            
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Mnid">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>