@model DataSystem.Models.FacilityInfo

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h2>Edit</h2>
    <form asp-action="Edit">
        <div class="form-horizontal">
        <hr />
        <input asp-for="FacilityId" type="hidden" />
        <div class="form-group">
            <label asp-for="FacilityId" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="FacilityId" class="form-control" readonly/>
                <span asp-validation-for="FacilityId" class="text-danger" />
            </div>
            <label asp-for="DistCode" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <select asp-items="ViewBag.Districts" asp-for="DistCode" class="form-control"></select>
                <span asp-validation-for="DistCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ActiveStatus" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="ActiveStatus" class="form-control" />
                <span asp-validation-for="ActiveStatus" class="text-danger" />
            </div>

                <label asp-for="FacilityName" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="FacilityName" class="form-control" />
                    <span asp-validation-for="FacilityName" class="text-danger" />
                </div>

        </div>
            <div class="form-group">

                <label asp-for="FacilityNameDari" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="FacilityNameDari" class="form-control" />
                    <span asp-validation-for="FacilityNameDari" class="text-danger" />
                </div>
                <label asp-for="FacilityNamePashto" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="FacilityNamePashto" class="form-control" />
                    <span asp-validation-for="FacilityNamePashto" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger" />
                </div>
                <label asp-for="LocationDari" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="LocationDari" class="form-control" />
                    <span asp-validation-for="LocationDari" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LocationPashto" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="LocationPashto" class="form-control" />
                    <span asp-validation-for="LocationPashto" class="text-danger" />
                </div>
                <label asp-for="Implementer" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <select asp-items="ViewBag.imps" asp-for="Implementer" class="form-control"></select>
                    <span asp-validation-for="Implementer" class="text-danger" />
                </div>                   
            </div>

            <div class="form-group">
                <label asp-for="FacilityType" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <select asp-items="ViewBag.fac" asp-for="FacilityType" class="form-control"></select>
                    <span asp-validation-for="FacilityType" class="text-danger" />
                </div>

                <label asp-for="DateEstablished" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="DateEstablished" class="form-control" />
                    <span asp-validation-for="DateEstablished" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Gpslattitude" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="Gpslattitude" class="form-control" />
                    <span asp-validation-for="Gpslattitude" class="text-danger" />
                </div>
                <label asp-for="Gpslongtitude" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="Gpslongtitude" class="form-control" />
                    <span asp-validation-for="Gpslongtitude" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Lon" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="Lon" class="form-control" />
                    <span asp-validation-for="Lon" class="text-danger" />
                </div>
                <label asp-for="Lat" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="Lat" class="form-control" />
                    <span asp-validation-for="Lat" class="text-danger" />
                </div>
            </div>


            <div class="form-group">
                <label asp-for="SubImplementer" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="SubImplementer" class="form-control" />
                    <span asp-validation-for="SubImplementer" class="text-danger" />
                </div>
                <label asp-for="ViliCode" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="ViliCode" class="form-control" />
                    <span asp-validation-for="ViliCode" class="text-danger" />
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="Save" class="btn btn-block btn-primary" />
                </div>
            </div>
            <hr/>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
