@{
    ViewData["Title"] = "Facilities Update";
}
<div class="container">
<h1>Update facilities</h1>
    <h1>Done!</h1>
    <h3>Totally @ViewBag.totalfacilities facilities have been updated or newly added</h3>
<div>
    <a asp-action="Index">Back</a>
</div>
</div>
