@model DataSystem.Models.EmrImamServices
@inject SignInManager<ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Identity
@using MyProject.MyExtensions

@{
    ViewData["Title"] = " IMAM Services ";
}

@Html.AntiForgeryToken()

<div class="nav-tabs-custom">

    <ul class="nav nav-tabs">
        <li><a asp-action="ErIndicators" asp-route-id="@Model.ErnmrId">Indicators</a> </li>
        <li class="active"><a asp-action="Screenings" asp-route-id="@Model.ErnmrId">Acute Malnutrition Treatment</a> </li>
    </ul>
    <div class="tab-content">

        <div class="progress progress-sm active" data-bind="visible:sending()">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Please Wait ....</span>
            </div>
        </div>
        <div class="tab-pane active" id="tab_1" data-bind="visible:!sending()">

            <p>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("dataentry"))
                {
                    <button class="btn btn-sm btn-success" href="/ERRImamservices/Create?ernmrid=@Model.ErnmrId" data-bind="click:addForm,enable:state"><span class="glyphicon glyphicon-plus"></span> Create New</button>
                }
                <a href="/ernmr/">Back To List</a>
            </p>
            <div class="table-responsive">

                <table id="mn" class="table table-striped table-hover table-bordered table-condensed" data-bind="visible:all().length!= 0">
                    <thead>
                        <tr>
                            <th rowspan="2" class="text-left">
                                IMAM Service
                            </th>
                            <th colspan="2" class="text-center">
                                New Admission
                            </th>
                            <th colspan="4" class="text-center">
                                Treatment Outcome
                            </th>
                            <th rowspan="2" class="text-center">Actions</th>
                        </tr>
                        <tr>
                            <th>
                                Male
                            </th>
                            <th>
                                Female
                            </th>
                            <th>
                                Cured
                            </th>
                            <th>
                                Deaths
                            </th>
                            <th>
                                Defaulters
                            </th>
                            <th>
                                Non-Cured
                            </th>
                        </tr>
                    </thead>


                    <tbody data-bind="foreach:all">
                        <tr class="text-center">
                            <td class="text-left" data-bind="text:indicatorName"></td>
                            <td data-bind="text:male"></td>
                            <td data-bind="text:female"></td>
                            <td data-bind="text:cures"></td>
                            <td data-bind="text:deaths"></td>
                            <td data-bind="text:defaulters"></td>
                            <td data-bind="text:referouts"></td>
                            <td>
                                @if (SignInManager.IsSignedIn(User) && User.IsInRole("dataentry"))
                                {
                                    <div class="row" style="display: inline-block; float: none; white-space: nowrap;">
                                        <a class="btn btn-primary btn-xs" data-bind="click:$parent.edit"><span class="glyphicon glyphicon-pencil"></span></a> |
                                        <a class="btn btn-danger btn-xs" data-bind="click: $parent.delete"><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                }
                                </td>

                        </tr>
                    </tbody>
                </table>

                <div style="display: none" data-bind="visible:all().length==0"
                     class="alert alert-warning alert-dismissible" role="alert">
                    There are no reports to display.

                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup"></div>

<div class="modal fade" id="update" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ERR - Indicators</h4>
            </div>
            <div class="modal-body ">
                <form asp-action="Edit" id="form" data-bind="submit:update,visible: !sending()">
                    <div class="form-horizontal">
                        <div class="form-group ">
                            <label for="indicator" class="col-sm-3 control-label">Indicator</label>
                            <div class="col-sm-8">
                                <input for="indicator" id="indicatorname" class="form-control" data-bind="value:form.IndicatorName" readonly />
                                <span for="indicator" class="text-danger" />
                            </div>

                        </div>
                        <div class="form-group ">
                            <label asp-for="Male" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Male" class="form-control" data-bind="textinput:form.Male" />
                                <span asp-validation-for="Male" class="text-danger" />
                            </div>
                        </div>

                        <div class="form-group ">
                            <label asp-for="Female" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Female" class="form-control" data-bind="textinput:form.Female" />
                                <span asp-validation-for="Female" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Cures" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Cures" class="form-control" data-bind="textinput:form.Cures" />
                                <span asp-validation-for="Cures" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Deaths" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Deaths" class="form-control" data-bind="textinput:form.Deaths" />
                                <span asp-validation-for="Deaths" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Defaulters" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Defaulters" class="form-control" data-bind="textinput:form.Defaulters" />
                                <span asp-validation-for="Defaulters" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Referouts" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Referouts" class="form-control" data-bind="textinput:form.Referouts" />
                                <span asp-validation-for="Referouts" class="text-danger" />
                            </div>
                        </div>
                        <br />

                        <div class="form-group form-group-sm">
                            <div class="col-md-offset-3 col-md-8">
                                <input type="submit" value="Save" class="btn btn-block btn-primary btn-sm" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="progress" data-bind="visible: sending()">
                    <div class="progress-bar progress-bar-info progress-bar-striped active"
                         role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/notify.min.js"></script>
    <script src="~/js/ViewModel/ERRImamservices.js"></script>
    <script>

        $(document).ready(function () {
            var model = new ErrImamservicesForm(@Json.Serialize(@Model));
            ko.applyBindings(model);
        });

    </script>
}