@model DataSystem.Models.SurveyInfo
@inject SignInManager<ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Survey Details";
}
<div class="container-fluid">
    <h2>Survey Details</h2>
    <div class="row col-md-12">
        <table id="erfacilities" class="table table-condensed">
            <tr>
                <th>
                    ID
                </th>
                <td>
                    <input asp-for="SurveyId" class="form-control" readonly="readonly" />
                </td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr>
                <th>
                    <label asp-for="SurveyAccro" class="control-label"></label>
                </th>
                <td>
                    <div>
                        <input asp-for="SurveyAccro" class="form-control" readonly="readonly" />
                        <span asp-validation-for="SurveyAccro" class="text-danger" />
                    </div>
                </td>
                <th>
                    <label asp-for="SurveyFull" class="control-label"></label>
                </th>
                <td>
                    <div>
                        <input asp-for="SurveyFull" class="form-control" readonly="readonly" />
                        <span asp-validation-for="SurveyFull" class="text-danger" />
                    </div>
                </td>
            </tr>

            <tr>
                <th>
                    <label asp-for="LeadBy" class=" control-label"></label>

                </th>
                <td>
                    <div>
                        <input asp-for="LeadBy" class="form-control" readonly="readonly" />
                        <span asp-validation-for="LeadBy" class="text-danger" />
                    </div>
                </td>
                <th>
                    <label asp-for="ImpBy" class="control-label"></label>
                </th>
                <td>
                    <div>
                        <input asp-for="ImpBy" class="form-control" readonly="readonly" />
                        <span asp-validation-for="ImpBy" class="text-danger" />
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="SurveyYear" class="control-label"></label>
                </th>
                <td>
                    <div>
                        <input asp-for="SurveyYear" class="form-control" readonly="readonly" />
                        <span asp-validation-for="SurveyYear" class="text-danger" />
                    </div>
                </td>
            </tr>

            <tr>
                <th>
                    <label asp-for="Writers" class="control-label">Author Names</label>

                </th>
                <td colspan="3">
                    <div>
                        <input asp-for="Writers" class="form-control" readonly="readonly" />
                        <span asp-validation-for="Writers" class="text-danger" />
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="4">
                    <label asp-for="Abstract" class="control-label"></label>
                </th>
            </tr>
            <tr>
                <td colspan="4">
                    <div>
                        <div class="form-group">
                            <ejs-richtexteditor ejs-for="Abstract" id="Abstract" readonly="true" cssClass="form-control">
                            </ejs-richtexteditor>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("unicef") || User.IsInRole("pnd")))
                {
                    <form asp-action="Delete">
                    </form>
                }
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

    </script>
}
