@model DataSystem.Models.Implementers

@{
    ViewData["Title"] = "Edit";
}
<div class="container" style="padding-top:3em;">

<h2>Edit</h2>
<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <input type="hidden" asp-for="ImpCode" />
        <div class="form-group">
            <label asp-for="RegistrationDate" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger" />
            </div>

        </div>
        <div class="form-group">
            <label asp-for="ImpAcronym" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="ImpAcronym" class="form-control" />
                <span asp-validation-for="ImpAcronym" class="text-danger" />
            </div>
            <label asp-for="ImpName" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="ImpName" class="form-control" />
                <span asp-validation-for="ImpName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ImpNameDari" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="ImpNameDari" class="form-control" />
                <span asp-validation-for="ImpNameDari" class="text-danger" />
            </div>
            <label asp-for="ImpNamePashto" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="ImpNamePashto" class="form-control" />
                <span asp-validation-for="ImpNamePashto" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AfghanistanAddress" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="AfghanistanAddress" class="form-control" />
                <span asp-validation-for="AfghanistanAddress" class="text-danger" />
            </div>
            <label asp-for="OtherAddress" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="OtherAddress" class="form-control" />
                <span asp-validation-for="OtherAddress" class="text-danger" />
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input asp-for="ImpStatus" />
                        <label asp-for="ImpStatus"></label>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsScm" />
                        <label asp-for="IsScm">Is SCM Implementer?</label>
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="Save" class="btn btn-block btn-primary" />
            </div>
        </div>
        <hr />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
