@model IEnumerable<DataSystem.Models.LkpCategory>

@{
    ViewData["Title"] = "Categories";
}

<div id="toast_default"></div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h3>Categories</h3>
            <br />

            <ejs-grid id="CategoriesGrid" allowSorting="true"  editSettings="@(new Syncfusion.EJ2.Grids.GridEditSettings { AllowAdding = ViewBag.gridAdd, AllowEditing = ViewBag.gridEdit, AllowDeleting = ViewBag.gridDelete,Mode=Syncfusion.EJ2.Grids.EditMode.Dialog })" actionComplete="actionComplete" toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })" allowPaging="true">
                <e-data-manager url="/Categories/UrlDataSource" adaptor="UrlAdaptor" insertUrl="/Categories/Insert" updateUrl="/Categories/Update" removeUrl="/Categories/Remove"></e-data-manager>
                <e-grid-pagesettings pageSizes="true" pageSize="5"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column field="categoryId" headerText="Category ID" isPrimaryKey="true" validationRules="@(new { required=true, number=true})" textAlign="Left" width="120"></e-grid-column>
                    <e-grid-column field="categoryName" headerText="Category Name" validationRules="@(new { required=true})" textAlign="Left" width="500"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</div>
@section Scripts{
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toastObj = new ej.notifications.Toast({
            position: { X: 'Right', Y: 'Top' }
        });
        toastObj.appendTo('#toast_default');
    });

    function actionComplete(args) {
        if ((args.requestType === 'beginEdit' || args.requestType === 'add')) {
            var dialog = args.dialog;
            dialog.width = 450;
            // change the header of the dialog
            dialog.header = args.requestType === 'beginEdit' ? 'Record of ' + args.rowData['categoryName'] : 'New';
        }
        var toastInstances = document.getElementById("toast_default").ej2_instances[0];
        if (args.requestType === 'save') {
            toastInstances.show({
                title: 'Success!',
                content: 'Record has been saved successfully.',
                cssClass: 'e-toast-success', icon: 'e-success toast-icons'
            });
        }
        if (args.requestType === 'delete') {
            toastInstances.show({
                content: 'Deleted successfully',
                target: document.body
            });
        } // you can perform toast for whatever you want....
    }
</script>
