@{
 ViewData["Title"] = "PDF Viewer";
}
<div style="width:100%;height:600px">
   <ejs-pdfviewer id="container" style="height:600px" serviceUrl="/api/Pdfviewer" documentPath="@ViewBag.filepath" ></ejs-pdfviewer>
   @*<ejs-pdfviewer id="container" style="height:600px" serviceUrl="/api/Pdfviewer" documentPath="Project_Concept_Development_Manual_EN.pdf" ></ejs-pdfviewer>*@
</div>
