@{
    ViewData["Title"] = "Request reasons";
}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h3>List request reasons</h3>

            <ejs-grid id="scmRequestReasGrid" allowSorting="true" toolbar="@(new List<string>() {"Add", "Edit", "Delete", "Cancel", "Update"})" allowPaging="true">
                <e-data-manager url="/scmRequestReas/UrlDataSource" adaptor="UrlAdaptor" insertUrl="/scmRequestReas/Insert" updateUrl="/scmRequestReas/Update" removeUrl="/scmRequestReas/Remove"></e-data-manager>
                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
                <e-grid-columns>
                    <e-grid-column field="reasonId" headerText="ID" isPrimaryKey="true" visible="false" textAlign="Left" width="80"></e-grid-column>
                    <e-grid-column field="reasonName" headerText="Reason name" validationRules="@(new { required=true})" textAlign="Left" width="300"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>

        </div>
    </div>
</div>