@{
    ViewData["Title"] = "Months";
}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h3>Months list</h3>

            <ejs-grid id="MonthsGrid" allowSorting="true" toolbar="@(new List<string>() {"Add", "Edit", "Delete", "Cancel", "Update"})" allowPaging="true">
                <e-data-manager url="/scmMonths/UrlDataSource" adaptor="UrlAdaptor" insertUrl="/scmMonths/Insert" updateUrl="/scmMonths/Update" removeUrl="/scmMonths/Remove"></e-data-manager>
                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
                <e-grid-columns>
                    <e-grid-column field="monthId" headerText="ID" isPrimaryKey="true" visible="false" textAlign="Left" width="80"></e-grid-column>
                    <e-grid-column field="monthName" headerText="Month" validationRules="@(new { required=true})" textAlign="Left" width="300"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>

        </div>
    </div>
</div>