@model DataSystem.ViewModels.mreqvm

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h2>New Mam Request</h2>

    <form asp-action="Create">
        <div class="form-horizontal">
            <hr />
            <h2><div class="col-md-offset-1 text-danger" asp-validation-summary="All"></div></h2>
                <div class="form-group">
                    <label asp-for="ProvCode" class="col-md-2 control-label">Province</label>
                    <div class="col-md-3">
                        <select asp-for="ProvCode" id="Prov" class="form-control" asp-items="@ViewBag.ProvList"></select>
                    </div>
                    <label asp-for="ImpCode" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <select asp-for="ImpCode" asp-items="@ViewBag.Implementers" class="form-control"></select>
                        <span asp-validation-for="ImpCode" class="text-danger" />
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="Year" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <select asp-for="Year" class="form-control">
                            <option>1395</option>
                            <option>1396</option>
                            <option>1397</option>
                            <option>1398</option>
                            <option>1399</option>
                            <option>1400</option>
                            <option>1401</option>
                            <option>1402</option>
                        </select>
                        <span asp-validation-for="Year" class="text-danger" />
                    </div>
                    <label asp-for="Month" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <select asp-for="Month" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                        <span asp-validation-for="Month" class="text-danger" />
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="ReqBy" class="col-md-2 control-label">Requested by</label>
                    <div class="col-md-3">
                        <input asp-for="ReqBy" class="form-control" />
                        <span asp-validation-for="ReqBy" class="text-danger" />
                    </div>
                    <label asp-for="numMonth" class="col-md-2 control-label"># of months to request</label>
                    <div class="col-md-3">
                        <select asp-for="numMonth" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <span asp-validation-for="numMonth" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Create" class="btn btn-primary btn-block" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-warning"></i> Caution!</h4>
                            <ul>
                                <li><b>Year</b>- select Year of generating request for</li>
                                <li><b>Month</b>- select Month of generating request for</li>
                                <li><b># of months to request </b>- select number of months to you want to generate request.</li>
                                <li><b>You are allowed to only create one request for each Month note more</li>
                                <li><b>Note </b>- The report will calculate based on # of months selected.If it is 1 then it will calculate one month back from selected Month above, if 2 is selected then it will calculate for 2 months back from selected Month</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <a asp-action="Index" class="btn btn-block btn-primary btn-sm">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </form>

</div>

