@model DataSystem.Models.TlkpOtptfu

@{
    ViewData["Title"] = "Create";
}
<div class="container">
<h2>New Age group</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label asp-for="AgeGroup" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="AgeGroup" class="form-control" />
                <span asp-validation-for="AgeGroup" class="text-danger" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" />
                        <label asp-for="Active"></label>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
