<style>
    p{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:20px;
    }
    li{
        line-height: 200%;
        font-size: larger;
    }
    h4{
        margin: 0px;
        padding: 0px;
    }
</style>
<div class="container">
    <h2>FAQ</h2>
    <hr>

<div class="text-center">
    <h2>The End</h2>
</div>
</div>
