@model DataSystem.Models.TblStockOtp

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<div class="modal fade" id="editStock" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Supply stock report and balance</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Create" data-bind="submit:editstockRecord,visible:!sending()">

                            <table class="table table-condensed table-responsive text-left dt-responsive">
                                <tbody>
                                    <tr>
                                        <td>Item description</td>
                                        <td colspan="3">
                                            <input class="form-control" data-bind="textinput:sinStock.Item" disabled />
                                        </td>
                                    </tr>
                                    <tr style="background-color:#00C0EF">
                                        <th colspan="4">Stock on hand</th>
                                    </tr>
                                    <tr>
                                        <td>Stock at beginning of period</td>
                                        <td>
                                            <input asp-for="Openingbalance" class="form-control text-center" data-bind="textinput:sinStock.Openingbalance" />
                                            <span asp-validation-for="Openingbalance" class="text-danger" />
                                        </td>
                                        <td>Received</td>
                                        <td>
                                            <input asp-for="Received" class="form-control text-center" data-bind="textinput:sinStock.Received" />
                                            <span asp-validation-for="Received" class="text-danger" />
                                        </td>

                                    </tr>
                                    <tr style="background-color:#00C0EF">
                                        <th colspan="4">Stock consumption/loses</th>
                                    </tr>
                                    <tr>
                                        <td>Used</td>
                                        <td>
                                            <input asp-for="Used" class="form-control text-center" data-bind="textinput:sinStock.Used" />
                                            <span asp-validation-for="Used" class="text-danger" />
                                        </td>
                                        <td>Expired</td>
                                        <td>
                                            <input asp-for="Expired" class="form-control text-center" data-bind="textinput:sinStock.Expired" />
                                            <span asp-validation-for="Expired" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Damaged</td>
                                        <td>
                                            <input asp-for="Damaged" class="form-control text-center" data-bind="textinput:sinStock.Damaged" />
                                            <span asp-validation-for="Damaged" class="text-danger" />
                                        </td>
                                        <td>Loss</td>
                                        <td>
                                            <input asp-for="Loss" class="form-control text-center" data-bind="textinput:sinStock.Loss" />
                                            <span asp-validation-for="Loss" class="text-danger" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            <input type="submit" value="Save" class="btn btn-success btn-sm" data-bind="visible:checkInputs" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                </form>
                <div class="progress" data-bind="visible: sending()">
                    <div class="progress-bar progress-bar-info progress-bar-striped active"
                         role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script>
    $.validator.unobtrusive.parse($('#editStock'));
</script>