@{
    ViewData["Title"] = "Response options";
}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h3>Response options</h3>

            <ejs-grid id="Responses_grid" actionComplete="actionComplete"  allowSorting="true" toolbar="@(new List<string>() {"Add", "Edit", "Delete", "Cancel", "Update"})" allowPaging="true">
                <e-data-manager url="/HpResponses/UrlDataSource" adaptor="UrlAdaptor" insertUrl="/HpResponses/Insert" updateUrl="/HpResponses/Update" removeUrl="/HpResponses/Remove"></e-data-manager>
                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
                <e-grid-columns>
                    <e-grid-column field="responseId" headerText="ID" isPrimaryKey="true" isIdentity="true" visible="true" textAlign="Left" width="80"></e-grid-column>
                    <e-grid-column field="responseName" headerText="Response" validationRules="@(new { required=true})" textAlign="Left" width="250"></e-grid-column>
                    <e-grid-column field="isActive" headerText="Is Active" template="#activetemplate"  defaultValue="1" editType="booleanedit" textAlign="Center" width="100"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>

        </div>
    </div>
</div>
<script>
    function actionComplete(args) {
        if ((args.requestType === 'beginEdit' || args.requestType === 'add')) {
            var dialog = args.dialog;
            dialog.width = 450;
            // change the header of the dialog
            dialog.header = args.requestType === 'beginEdit' ? 'Record of ' + args.rowData['responseId'] : 'New';
        }
    }
</script>
<script id="activetemplate" type="text/x-template">
    ${if(isActive==1)}
    <img src="/images/app/tick.png" /> Yes
    ${else}
    <img src="/images/app/cross.png" /> No
    ${/if}
</script>